USE [master]
GO
/****** Object:  Database [ArtWorkDB]    Script Date: 10/23/2015 5:23:20 PM ******/
CREATE DATABASE [ArtWorkDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArtWorkDB', FILENAME = N'D:\Data\ArtWorkDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ArtWorkDB_log', FILENAME = N'D:\Data\ArtWorkDB_log.ldf' , SIZE = 16576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArtWorkDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArtWorkDB]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 10/23/2015 5:23:20 PM ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[db_owner]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 10/23/2015 5:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[ArtistID] [int] IDENTITY(1,1) NOT NULL,
	[Artist] [nvarchar](50) NULL,
 CONSTRAINT [PK_Artist] PRIMARY KEY CLUSTERED 
(
	[ArtistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArtType]    Script Date: 10/23/2015 5:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtType](
	[ArtTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ArtType] [nvarchar](50) NULL,
 CONSTRAINT [PK_ArtType] PRIMARY KEY CLUSTERED 
(
	[ArtTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Artwork]    Script Date: 10/23/2015 5:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artwork](
	[ArtworkID] [int] IDENTITY(1,1) NOT NULL,
	[AssetNumber] [nvarchar](50) NULL,
	[ArtTitle] [nvarchar](50) NULL,
	[ArtTypeID] [int] NULL,
	[ArtistID] [int] NULL,
	[CountryID] [int] NULL,
	[VendorID] [int] NULL,
	[DateCreate] [date] NULL,
	[DatePurchased] [date] NULL,
	[CurrentLocationID] [int] NULL,
	[Levels] [int] NULL,
	[Image] [image] NULL,
	[PhysicalDimension] [nvarchar](50) NULL,
	[Comments] [nvarchar](max) NULL,
	[FileExtension] [nvarchar](5) NULL,
	[PurchasePrice] [decimal](18, 2) NULL,
	[Section] [int] NULL,
 CONSTRAINT [PK_Artwork] PRIMARY KEY CLUSTERED 
(
	[ArtworkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 10/23/2015 5:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Country] [nvarchar](50) NULL,
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CurrentLocation]    Script Date: 10/23/2015 5:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentLocation](
	[CurrentLocationID] [int] IDENTITY(1,1) NOT NULL,
	[CurrentLocation] [nvarchar](50) NULL,
 CONSTRAINT [PK_CurrentLocation] PRIMARY KEY CLUSTERED 
(
	[CurrentLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Levels]    Script Date: 10/23/2015 5:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levels](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[Levels] [nvarchar](50) NULL,
 CONSTRAINT [PK_Levels] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sections]    Script Date: 10/23/2015 5:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[Section] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 10/23/2015 5:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[text] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 10/23/2015 5:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [nvarchar](50) NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[TotalValueView]    Script Date: 10/23/2015 5:23:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TotalValueView]
AS
SELECT        dbo.ArtType.ArtType, SUM(dbo.Artwork.PurchasePrice) AS Total
FROM            dbo.Artwork INNER JOIN
                         dbo.ArtType ON dbo.Artwork.ArtTypeID = dbo.ArtType.ArtTypeID
GROUP BY dbo.Artwork.PurchasePrice, dbo.ArtType.ArtType

GO
SET IDENTITY_INSERT [dbo].[Artist] ON 

INSERT [dbo].[Artist] ([ArtistID], [Artist]) VALUES (1, N'Pablo Picasso')
INSERT [dbo].[Artist] ([ArtistID], [Artist]) VALUES (2, N'Herb Aach (1923–1985)')
INSERT [dbo].[Artist] ([ArtistID], [Artist]) VALUES (3, N'Hans von Aachen (1552–1615)')
GO
SET IDENTITY_INSERT [dbo].[Artist] OFF
SET IDENTITY_INSERT [dbo].[ArtType] ON 

INSERT [dbo].[ArtType] ([ArtTypeID], [ArtType]) VALUES (1, N'Ornament
')
INSERT [dbo].[ArtType] ([ArtTypeID], [ArtType]) VALUES (2, N'Sculpture
')
INSERT [dbo].[ArtType] ([ArtTypeID], [ArtType]) VALUES (3, N'Picture
')
SET IDENTITY_INSERT [dbo].[ArtType] OFF
SET IDENTITY_INSERT [dbo].[Artwork] ON 

SET IDENTITY_INSERT [dbo].[Artwork] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Country], [CountryID]) VALUES (N' Cuba', 1)
INSERT [dbo].[Country] ([Country], [CountryID]) VALUES (N' Haiti', 2)
INSERT [dbo].[Country] ([Country], [CountryID]) VALUES (N' Dominican Republic', 3)
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[CurrentLocation] ON 

INSERT [dbo].[CurrentLocation] ([CurrentLocationID], [CurrentLocation]) VALUES (1, N'Outside')
INSERT [dbo].[CurrentLocation] ([CurrentLocationID], [CurrentLocation]) VALUES (2, N'Parliament')
INSERT [dbo].[CurrentLocation] ([CurrentLocationID], [CurrentLocation]) VALUES (3, N'Storage')
SET IDENTITY_INSERT [dbo].[CurrentLocation] OFF
SET IDENTITY_INSERT [dbo].[Levels] ON 

INSERT [dbo].[Levels] ([LevelID], [Levels]) VALUES (1, N'Level1')
INSERT [dbo].[Levels] ([LevelID], [Levels]) VALUES (2, N'Level 2')
INSERT [dbo].[Levels] ([LevelID], [Levels]) VALUES (3, N'Level 3')
SET IDENTITY_INSERT [dbo].[Levels] OFF
SET IDENTITY_INSERT [dbo].[Sections] ON 

INSERT [dbo].[Sections] ([SectionID], [Section]) VALUES (1, N'Section1')
SET IDENTITY_INSERT [dbo].[Sections] OFF
INSERT [dbo].[Table_1] ([text]) VALUES (N' Cuba')
INSERT [dbo].[Table_1] ([text]) VALUES (N' Haiti')
INSERT [dbo].[Table_1] ([text]) VALUES (N' Dominican Republic')
SET IDENTITY_INSERT [dbo].[Vendor] ON 

INSERT [dbo].[Vendor] ([VendorID], [Vendor]) VALUES (1, N'Sothebys')
SET IDENTITY_INSERT [dbo].[Vendor] OFF
ALTER TABLE [dbo].[Artist]  WITH CHECK ADD  CONSTRAINT [FK_Artist_Artist] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[Artist] ([ArtistID])
GO
ALTER TABLE [dbo].[Artist] CHECK CONSTRAINT [FK_Artist_Artist]
GO
ALTER TABLE [dbo].[Artwork]  WITH CHECK ADD  CONSTRAINT [FK_Artwork_Artist] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[Artist] ([ArtistID])
GO
ALTER TABLE [dbo].[Artwork] CHECK CONSTRAINT [FK_Artwork_Artist]
GO
ALTER TABLE [dbo].[Artwork]  WITH CHECK ADD  CONSTRAINT [FK_Artwork_ArtType] FOREIGN KEY([ArtTypeID])
REFERENCES [dbo].[ArtType] ([ArtTypeID])
GO
ALTER TABLE [dbo].[Artwork] CHECK CONSTRAINT [FK_Artwork_ArtType]
GO
ALTER TABLE [dbo].[Artwork]  WITH CHECK ADD  CONSTRAINT [FK_Artwork_CurrentLocation] FOREIGN KEY([CurrentLocationID])
REFERENCES [dbo].[CurrentLocation] ([CurrentLocationID])
GO
ALTER TABLE [dbo].[Artwork] CHECK CONSTRAINT [FK_Artwork_CurrentLocation]
GO
ALTER TABLE [dbo].[Artwork]  WITH CHECK ADD  CONSTRAINT [FK_Artwork_Levels] FOREIGN KEY([Levels])
REFERENCES [dbo].[Levels] ([LevelID])
GO
ALTER TABLE [dbo].[Artwork] CHECK CONSTRAINT [FK_Artwork_Levels]
GO
ALTER TABLE [dbo].[Artwork]  WITH CHECK ADD  CONSTRAINT [FK_Artwork_Sections] FOREIGN KEY([Section])
REFERENCES [dbo].[Sections] ([SectionID])
GO
ALTER TABLE [dbo].[Artwork] CHECK CONSTRAINT [FK_Artwork_Sections]
GO
ALTER TABLE [dbo].[Artwork]  WITH CHECK ADD  CONSTRAINT [FK_Artwork_Vendor] FOREIGN KEY([VendorID])
REFERENCES [dbo].[Vendor] ([VendorID])
GO
ALTER TABLE [dbo].[Artwork] CHECK CONSTRAINT [FK_Artwork_Vendor]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Artwork"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 227
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ArtType"
            Begin Extent = 
               Top = 6
               Left = 265
               Bottom = 102
               Right = 435
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TotalValueView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TotalValueView'
GO
USE [master]
GO
